In [1]:
import datetime

In [2]:
t = datetime.time(5,25,1)

In [3]:
print t

05:25:01

In [4]:
t.hour

5

In [5]:
t.minute

25

In [6]:
t.microsecond

0

In [7]:
print datetime.time.min

00:00:00

In [8]:
print datetime.time.max

23:59:59.999999

In [9]:
print datetime.time.resolution

0:00:00.000001

In [10]:
# It can get this specific as far as microseconds

In [11]:
today = datetime.date.today()

In [12]:
print today

2016-03-07

In [13]:
today.timetuple()

time.struct_time(tm_year=2016, tm_mon=3, tm_mday=7, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=67, tm_isdst=-1)

In [14]:
today.year

2016

In [15]:
today.month

3

In [16]:
today.day

7

In [20]:
print datetime.date.min

0001-01-01

In [18]:
print datetime.date.max

9999-12-31

In [19]:
print datetime.date.resolution

1 day, 0:00:00

In [21]:
d1 = datetime.date(2016,3,7)
print d1

2016-03-07

In [22]:
d2 = d1.replace(year=1990)

In [23]:
d2

datetime.date(1990, 3, 7)

In [24]:
d1

datetime.date(2016, 3, 7)

In [25]:
d1-d2

datetime.timedelta(9497)

In [26]:
# Difference in days between the dates