In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [3]:
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [5]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [6]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [7]:
nfl_frame.Team

0    Chicago
1     Dallas
2      Green
3      Miami
4        New
Name: Team, dtype: object

In [ ]:
nfl_frame['First Season'] # If a header was labeled 'First Season', you can call its column like this

In [10]:
DataFrame(nfl_frame,columns=['Team','Rank','Total'])

      Team  Rank  Total
0  Chicago     1    NFC
1   Dallas     2    NFC
2    Green     3  1,304
3    Miami     4    AFC
4      New     5    852