In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
# import pandas testing utility
import pandas.util.testing as tm; tm.N = 3

# Create an unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value': frame.values.ravel('F'),
            'variable': np.asarray(frame.columns).repeat(N),
            'date': np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date','variable','value'])

# Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [5]:
dframe

         date variable     value
0  2000-01-03        A -0.047193
1  2000-01-04        A -0.520403
2  2000-01-05        A  0.449004
3  2000-01-03        B -0.181019
4  2000-01-04        B -2.782059
5  2000-01-05        B -1.077590
6  2000-01-03        C -0.650938
7  2000-01-04        C -0.095502
8  2000-01-05        C  1.636863
9  2000-01-03        D  0.158380
10 2000-01-04        D -0.004051
11 2000-01-05        D -2.232643

In [6]:
dframe_piv = dframe.pivot('date','variable','value')

In [7]:
dframe_piv

variable           A         B         C         D
date
2000-01-03 -0.047193 -0.181019 -0.650938  0.158380
2000-01-04 -0.520403 -2.782059 -0.095502 -0.004051
2000-01-05  0.449004 -1.077590  1.636863 -2.232643