In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
ser1 = Series(np.arange(3),index=['A','B','C'])

In [3]:
ser1 = 2*ser1

In [4]:
ser1

A    0
B    2
C    4
dtype: int32

In [5]:
ser1['B']

2

In [6]:
ser1[1]

2

In [7]:
ser1[0:3]

A    0
B    2
C    4
dtype: int32

In [8]:
ser1[['A','B']]

A    0
B    2
dtype: int32

In [9]:
ser1[ser1>3]

C    4
dtype: int32

In [10]:
ser1[ser1>3] = 10

ser1

A     0
B     2
C    10
dtype: int32

In [11]:
dframe = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','LA','SF','DC','Chi'],columns=['A','B','C','D','E'])

In [12]:
dframe

      A   B   C   D   E
NYC   0   1   2   3   4
LA    5   6   7   8   9
SF   10  11  12  13  14
DC   15  16  17  18  19
Chi  20  21  22  23  24

In [20]:
dframe = DataFrame(np.arange(28).reshape((4,7)),index=['Week 1','Week 2','Week 3','Week 4'],
                   columns=['Mon','Tues','Wed','Thurs','Fri','Sat','Sun'])

In [21]:
dframe

        Mon  Tues  Wed  Thurs  Fri  Sat  Sun
Week 1    0     1    2      3    4    5    6
Week 2    7     8    9     10   11   12   13
Week 3   14    15   16     17   18   19   20
Week 4   21    22   23     24   25   26   27

In [22]:
dframe['Tues']

Week 1     1
Week 2     8
Week 3    15
Week 4    22
Name: Tues, dtype: int32

In [23]:
dframe[['Tues','Thurs']]

        Tues  Thurs
Week 1     1      3
Week 2     8     10
Week 3    15     17
Week 4    22     24

In [24]:
dframe[dframe['Wed']>8]

        Mon  Tues  Wed  Thurs  Fri  Sat  Sun
Week 2    7     8    9     10   11   12   13
Week 3   14    15   16     17   18   19   20
Week 4   21    22   23     24   25   26   27

In [25]:
# Gives every row where Wednesday is greater than 8

In [26]:
dframe

        Mon  Tues  Wed  Thurs  Fri  Sat  Sun
Week 1    0     1    2      3    4    5    6
Week 2    7     8    9     10   11   12   13
Week 3   14    15   16     17   18   19   20
Week 4   21    22   23     24   25   26   27

In [27]:
dframe > 10

          Mon   Tues    Wed  Thurs    Fri    Sat    Sun
Week 1  False  False  False  False  False  False  False
Week 2  False  False  False  False   True   True   True
Week 3   True   True   True   True   True   True   True
Week 4   True   True   True   True   True   True   True

In [29]:
dframe.ix['Week 1']

Mon      0
Tues     1
Wed      2
Thurs    3
Fri      4
Sat      5
Sun      6
Name: Week 1, dtype: int32

In [31]:
dframe.ix[1]

Mon       7
Tues      8
Wed       9
Thurs    10
Fri      11
Sat      12
Sun      13
Name: Week 2, dtype: int32