In [1]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

In [2]:
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [3]:
nfl_frame = pd.read_clipboard()

In [4]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [5]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.', u'First', u'NFL',
       u'Season', u'Total', u'Games', u'Division'],
      dtype='object')

In [6]:
nfl_frame.Rank

0    1
1    2
2    3
3    4
4    5
Name: Rank, dtype: int64

In [7]:
nfl_frame.Team

0    Chicago
1     Dallas
2      Green
3      Miami
4        New
Name: Team, dtype: object

In [ ]:
nfl_frame['First Season'] # If a header was labeled 'First Season', you can call its column like this

In [10]:
DataFrame(nfl_frame,columns=['Team','Rank','Total'])

      Team  Rank  Total
0  Chicago     1    NFC
1   Dallas     2    NFC
2    Green     3  1,304
3    Miami     4    AFC
4      New     5    852

In [11]:
DataFrame(nfl_frame,columns=['Team','Rank','Total','Stadium'])

      Team  Rank  Total  Stadium
0  Chicago     1    NFC      NaN
1   Dallas     2    NFC      NaN
2    Green     3  1,304      NaN
3    Miami     4    AFC      NaN
4      New     5    852      NaN

In [12]:
nfl_frame.head()

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [13]:
nfl_frame.ix[3]

Rank               4
Team           Miami
Won         Dolphins
Lost             429
Tied             335
Pct.               4
First          0.561
NFL             1966
Season           768
Total            AFC
Games           East
Division         NaN
Name: 3, dtype: object

In [14]:
nfl_frame['Stadium'] = "Levi's Stadium"

In [15]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,Levi's Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,Levi's Stadium
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,Levi's Stadium
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,Levi's Stadium
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi's Stadium

In [16]:
nfl_frame['Stadium'] = np.arange(5)

In [17]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,0
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,1
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,2
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,3
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,4

In [20]:
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])

In [21]:
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [22]:
nfl_frame['Stadium'] = stadiums

In [23]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division,Stadium
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN,AT&T Stadium
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North,NaN
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East,Levi's Stadium

In [24]:
del nfl_frame['Stadium']

In [25]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First,NFL,Season,Total,Games,Division
0,1,Chicago,Bears,741,555,42,0.570,1920.000,"1,338",NFC,North,NaN
1,2,Dallas,Cowboys,480,364,6,0.568,1960.000,850,NFC,East,NaN
2,3,Green,Bay,Packers,720,547,37.000,0.566,1921,"1,304",NFC,North
3,4,Miami,Dolphins,429,335,4,0.561,1966.000,768,AFC,East,NaN
4,5,New,England,Patriots,462,381,9.000,0.548,1960,852,AFC,East

In [26]:
data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [27]:
city_frame = DataFrame(data)

In [28]:
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000